:root {
  /* Colors */
  --color-background-home-header: #232f3e;
  --color-background-container-content: #ffffff;
  --color-text-body-default: #000716;
  --color-text-interactive-default: #0972d3;
  --color-border-container-default: #e9ebed;
  
  /* Spacing */
  --space-scaled-xs: 4px;
  --space-scaled-s: 8px;
  --space-scaled-m: 16px;
  --space-scaled-l: 20px;
  --space-scaled-xl: 24px;
  
  /* Typography */
  --font-family-base: "Amazon Ember", "Noto Sans KR", sans-serif;
  --font-size-body-m: 14px;
  --font-size-heading-m: 18px;
  --font-size-heading-l: 20px;
  
  /* Components */
  --border-radius-container: 8px;
  --border-radius-badge: 4px;
  --shadow-container: 0 1px 1px 0 rgba(0, 28, 36, 0.3);
} 