@font-face {
  font-family: 'Google Sans Text';
  src: url(https://fonts.gstatic.com/s/googlesanstext/v25/5aUo9-KzpRiLCAt4Unrc-xIKmCU5qE9GmU9GmRGyBaT8.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
